$default-font: "roboto-example", sans-serif
$accent: orange

$main-color: #007bff
$bg-dark: #343a40
$bg-light: #f8f9fa
$color-suc: #03A9F4
$color-edit: #009688
$color-erorr: #FF6E40

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width