@import "vars"
@import "fonts"
@import "libs"

/*==========  user style  ==========*/

*
	box-sizing: border-box
	
body
	font-family: roboto-example, sans-serif

.header-menu
	justify-content: space-between
	background: $bg-dark
	padding: 0 15px
	align-items: center
	height: 5vh
	a
		color: #fff
		text-decoration: none
		transition: .2s
		&:hover
			color: lighten($main-color, 20%)
	i
		padding-right: 10px
		font-size: 21px
	.exit-btn
		text-align: center

.main-menu
	background: $bg-light
	height: 95vh
	padding: 15px 0 0
	ul
		list-style: none
		padding: 0
		li
			a
				display: block
				padding: 10px 20px
				color: #333
				text-decoration: none
				&:hover
					i
						color: $main-color
				i
					font-size: 18px
					padding-right: 10px
					transition: .2s

/*==========  user style  ==========*/

@import "media" // Always at the end